@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  font-family: 'Quicksand', sans-serif;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #FAFAFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-family: 'Poppins', sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* opcional, mantém destaque */
}

.text {
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar{width: 0.6vw; height: .6vh; background: #E2FADB}
::-webkit-scrollbar-thumb{background: linear-gradient(to bottom, #E2FADB, #DBEFBC); border-radius: 5px;}

*::selection  {
  background: #E2FADB;
} 

