@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

:root {
  /* font-family: 'Quicksand', sans-serif; */

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  background-color: #fff6ebb3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-family: 'Righteous', cursive;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); /* opcional, mantém destaque */
}

.text {
  font-family: 'Comfortaa', sans-serif;
}

.text-button {
  font-family: 'Exo', sans-serif;
}
::-webkit-scrollbar{width: 0.6vw; height: .6vh; background: #f7f2db70}
::-webkit-scrollbar-thumb{background: linear-gradient(to bottom,  #006a36); border-radius: 2px;}

*::selection  {
  background: #668974d9;
} 


@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.animate-slideIn {
  animation: slideIn 0.45s cubic-bezier(.2,.9,.3,1) forwards;
}
